body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: Arial, sans-serif; /* Varsayılan bir font kullanabilirsiniz */
  background-color: #f0f0f0; /* Arka plan rengi */
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#game-intro,
#game-end {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 20px;
}

#game-intro button,
#restart-button {
  font-size: 18px;
  background-color: #4caf50; /* Buton arka plan rengi */
  color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Buton üzerine gelindiğinde geçiş efekti */
}

#game-intro button:hover,
#restart-button:hover {
  background-color: #45a049; /* Butonun üzerine gelindiğindeki arka plan rengi */
}

#game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#game-screen {
  width: 100%; /* Oyun ekranının genişliğini ayarlar */
  max-width: 1080px; /* Maksimum genişlik */
  height: 450px; /* Oyun ekranının yüksekliği */
  background-image: url("background.jpg"); /* Arka plan resmi */
  background-size: cover;
  background-position: center;
  position: relative;
  margin-bottom: 20px;
}

.stats {
  text-align: center;
}

.stats h2 {
  margin-bottom: 10px;
}

.stats p {
  margin: 5px 0;
}

.stats span {
  font-weight: bold;
}

.game-over-text {
  font-size: 24px;
  font-weight: bold;
}
