body {
  margin: 0;
  padding: 0;
  overflow: hidden; /* scrooll off */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#game-intro {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#game-container {
  display: flex;
  width: 100vw;
  padding: 20px 0px;
  justify-content: center;
}

#game-screen {
  display: none;
  align-content: center;
  padding: 20px 0px;
  overflow: hidden;
  position: relative;
  background-image: url(/images/try2.png);
  background-size: cover;
  animation: slide 5s linear infinite;
}
@keyframes slide {
  0% {
    background-position: -100% 0;
  }
  95% {
    background-position: 0 0;
  }
  100% {
    background-position: 0px 0;
  }
}

#game-end {
  display: none;
}

.game-intro p {
  font-size: 18px;
  font-family: "Verdana";
}

.logo-img {
  width: 350px;
}

.arrows-img {
  width: 150px;
}

body button {
  font-size: 30px;
  background-color: #870007;
  color: #fff;
  padding: 20px 40px;
  border: 0;
  box-shadow: 0;
  border-radius: 5px;
  margin-bottom: 20px;
}
